hr {
    background-color: burlywood;
}
q {
    color:rgb(68, 51, 29);
}
#quote {
    background-color: cornsilk;
}
body {
    font-family: 'Fruktur', cursive;
}
header {
    background-color: black;
    padding: 15px;
}
#logo {
    margin-left: 30px;
}
footer {
    background-color: black;
    padding: 10px;
}
.WhiteContent {
    height: 610px;
}
