body {
    font-family:'GOST', '20354';
}
@font-face {
    font-family: 'GOST';
    src: url(./Public/fonts/GOST\ type\ A\ Standard.ttf);
    font-family: '20354';
    src: url(./Public/fonts/20354.otf)
}
.headT{
    border-spacing: 2px;
    background-color: rgb(235, 140, 170);
    width:100%;
    border-collapse:separate;
    font-family: 'GOST';
    border-top-color: black;
    border-radius: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;



    }
TD{
    text-align:center
}
 
.head1{
    text-align: center;
    font-size: 60px;
    font-family: '20354';
}