
header {
    background-color: black;
}

article {
    margin-top: 35px;
    margin-bottom: 35px;
}

footer {
    background-color: black;
}
#title {
    color: blueviolet;
    font-family: 'gilroy';
    font-style: italic;
    font-weight: bold;
}


button {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15pt;
}

@font-face {
    font-family: 'gilroy';
    font-style: italic;
    src: local('gilroy'),
        url('/Gilroy-Light.otf') format('otf')
}

.white {
    margin: 50px;
    height: 500px;

}

#logo {
    margin-left: 10px;
}

.links {
    margin-left: 10px;
    padding: 10px;
}