body{
    font-family:Georgia, 'Times New Roman', Times, serif
}
header{
    background-color: darkgrey;
    display:flex;
    margin-bottom:20px;
}
footer{
    background-color: darkgrey;
    min-height: 50px;
    padding-top: 20px;
    padding-left: 10px;
    margin-top:20px;
}
.contentBlock{
    display:flex;
    width:350px;
    overflow-x: scroll;
    border: 2px solid gray;
}
.contentItem{
    margin-right: 20px;
    display:flex;
    flex-direction: column;
}
.contentItem:last-of-type{
    margin-right: 0px;
}
.contentItem > img{
    width:300px;
    height:200px;
    overflow: scroll;
}