
.header {
    width: 100%;
    height:8%;
    display: block;
    float:none;
    color: white;
    background-color: #251e3e ;
}

.header {
    width
    height: 8%;
    display:table;
    float: none;
    text-align: center;
}
body.style {
    height: auto;
    background-color: #251e3e ;
}

.nkm-name {
    text-align: center;
}

.footer {
    width: 100%;
    height: 50px;
    display: block;
    float:none;
    color: white;
    background-color: #251e3e ;
    text-align: right;
}

.memes {

    align-items: center;
}
