#red{
color: red;
background-color: rgb(209, 138, 130);
width: 100px;
height: 100px;
}
@font-face {
    font-family: 'ZenKurenaido-Regular';
    src: url(public/ZenKurenaido-Regular.ttf);
}
.div{
    font-family: 'ZenKurenaido-Regular';
    font-size: large;
}